<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>
  <p>
    Welcome to our comprehensive tutorial series on building a Talent Management Single Page Application (SPA) using
    Angular 17 and .NET Core 8. This series is designed to take you through the development of a robust, modern web
    application that manages talent within an organization.
  </p>
  <a
    href="https://medium.com/scrum-and-coke/building-a-talent-management-spa-with-angular-17-and-net-core-8-tutorial-series-f28f0edc9069"
  >
    Building a Talent Management SPA with Angular 17 and .NET Core 8 Tutorial Series
  </a>
</div>
