<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="this.activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="card-text"><strong>employee.id: </strong> {{ employee.id }}</p>
  <p class="card-text"><strong>employee.prefix: </strong> {{ employee.prefix }}</p>
  <p class="card-text"><strong>employee.lastName: </strong> {{ employee.lastName }}</p>
  <p class="card-text"><strong>employee.firstName: </strong> {{ employee.firstName }}</p>
  <p class="card-text"><strong>employee.position.positionTitle: </strong> {{ employee.position.positionTitle }}</p>
  <p class="card-text"><strong>employee.email: </strong> {{ employee.email }}</p>
  <p class="card-text"><strong>employee.phone: </strong> {{ employee.phone }}</p>
  <p class="card-text"><strong>employee.birthday: </strong> {{ employee.birthday }}</p>
  <p class="card-text"><strong>employee.employeeNumber: </strong> {{ employee.employeeNumber }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="this.activeModal.dismiss()">Close</button>
</div>
