<div class="container-fluid">
  <!-- HTML form mark up -->
  <form [formGroup]="entryForm" novalidate>
    <div class="card">
      <div class="card-header">
        <div class="float-start">
          <h3 class="text-secondary">Position</h3>
        </div>
        <div class="float-end">
          <!-- HTML markup for form mode New or Edit -->
          <a class="btn text-dark" ngbTooltip="Click to Return to Previous Page" [routerLink]="['/position']"
            ><i class="fa fa-arrow-left"></i> Back</a
          >
        </div>
      </div>
      <div class="card-body">
        <div class="alert alert-danger" [hidden]="!error" translate>
          Position Number, Title, Description or Salary incorrect.
        </div>
        <div class="form-group">
          <label for="id" class="fw-bold">Id</label>
          <label class="d-block mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="id"
              [ngClass]="{ 'is-invalid': f.id.errors }"
              autocomplete="id"
              [placeholder]="'Auto Assigned Id' | translate"
              readonly
            />
            <span hidden translate>Id</span>
            <small [hidden]="f.id.valid || f.id.untouched" class="text-danger" translate> Id is required </small>
          </label>

          <label for="positionNumber" class="fw-bold">Position Number</label>
          <label class="d-block mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="positionNumber"
              [ngClass]="{ 'is-invalid': f.positionNumber.errors }"
              autocomplete="positionNumber"
              [placeholder]="'Enter position number here' | translate"
              required
            />
            <span hidden translate>PositionNumber</span>
            <small [hidden]="f.positionNumber.valid || f.positionNumber.untouched" class="text-danger" translate>
              Please enter a position number. This information is required.
            </small>
          </label>

          <label for="positionTitle" class="fw-bold">Position Title</label>

          <label class="d-block mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="positionTitle"
              [ngClass]="{ 'is-invalid': f.positionTitle.errors }"
              autocomplete="current-positionTitle"
              [placeholder]="'Enter Position Title Here' | translate"
              required
            />
            <span hidden translate>Position Title</span>
            <small [hidden]="f.positionTitle.valid || f.positionTitle.untouched" class="text-danger" translate>
              Please provide the title of the position. This field is required.
            </small>
          </label>
          <label for="positionDescription" class="fw-bold">Position Description</label>

          <label class="d-block mb-3">
            <textarea
              type="text"
              rows="5"
              class="form-control"
              formControlName="positionDescription"
              [ngClass]="{ 'is-invalid': f.positionDescription.errors }"
              autocomplete="current-positionDescription"
              [placeholder]="'Describe the key responsibilities and qualifications...' | translate"
              required
            >
            </textarea>
            <span hidden translate>PositionDescription</span>
            <small
              [hidden]="f.positionDescription.valid || f.positionDescription.untouched"
              class="text-danger"
              translate
            >
              Don't forget to add a description! It helps employees to understand the role.
            </small>
          </label>

          <!--departments -->
          <label for="department" class="fw-bold">Department</label>
          <label class="d-block mb-3">
            <ng-select
              [items]="departments"
              bindLabel="name"
              formControlName="departmentId"
              bindValue="id"
              placeholder="Select Department"
            >
            </ng-select>
            <span hidden translate>Department</span>
            <small [hidden]="f.departmentId.valid || f.departmentId.untouched" class="text-danger" translate>
              Please select the department for this position. It's necessary for org chart.
            </small>
          </label>

          <label for="salaryRange" class="fw-bold">Salary Group/Range</label>

          <label class="d-block mb-3">
            <ng-select
              [items]="salaryRanges"
              bindLabel="name"
              formControlName="salaryRangeId"
              bindValue="id"
              placeholder="Select Salary Range"
            >
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.name }} ({{ item.minSalary }} - {{ item.maxSalary }})</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <span>{{ item.name }} ({{ item.minSalary }} - {{ item.maxSalary }})</span>
              </ng-template>
            </ng-select>
            <span hidden translate>Salary Range</span>
            <small [hidden]="f.salaryRangeId.valid || f.salaryRangeId.untouched" class="text-danger" translate>
              Please choose a salary range. This information is vital for budgeting and candidate expectations.
            </small>
          </label>
        </div>
      </div>
      <div class="card-footer">
        <div class="float-left">
          <!-- HTML markup for Create button -->
          @if (this.isAddNew) {
          <button
            (click)="onCreate()"
            class="btn btn-primary w-20"
            type="submit"
            [disabled]="entryForm.invalid || !isAddNew"
            ngbTooltip="Click to Add New Record"
          >
            <span translate><i class="fas fa-plus"></i> Save</span>
          </button>
          } @else {
          <!-- HTML markup for Update button -->
          <button
            (click)="onUpdate()"
            class="btn btn-primary w-20"
            type="submit"
            [disabled]="entryForm.invalid || isAddNew"
            ngbTooltip="Click to Save Changes"
          >
            <span translate><i class="fas fa-edit"></i> Update</span>
          </button>
          <!-- HTML markup for Delete button -->
          <button
            (click)="onDelete()"
            class="btn btn-danger w-20"
            type="submit"
            [disabled]="entryForm.invalid || isAddNew"
            ngbTooltip="Click to Remove Record"
          >
            <span translate><i class="fas fa-trash-alt"></i> Delete</span>
          </button>
          }
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <hr />
<p>
  Debug this.entryForm.value <br />
  {{ this.entryForm.value | json }}
</p> -->
